# Ignore generated .xls or .xlsx files
*.xls
*.xlsx

# Ignore all the data in the "results" folder
results/

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user

# Ignore operating system backup files
*.*~
